<section class="catalog-section">
  <div class="container-with-side">
    {{>
      components/catalog
      catalog
      class='catalog-section__catalog'
      isFull='true'
    }}
  </div><!--.container-with-side-->
</section><!--.catalog-section-->
