{{>
	layouts/head
	title="Wenzhou TMI"
	description=""
}}
<body>
	<div class="page">
		<div style="padding: 30px; margin: 0 auto; max-width: 1200px;">
			<h1 class="h1 spacer-bottom-l">Title H1</h1>
			<h1 class="h2 spacer-bottom-l">Title H2</h1>

			<p class="base-text base-text--large spacer-bottom-s">
				Его популяризации в
				<span class="accent-text-color">новое время</span>
				послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
			</p>

			<p class="base-text spacer-bottom-s">
				В то время некий
				<a class="link" href="#">безымянный печатник</a>
				создал большую коллекцию размеров и форм шрифтов, используя
				<a class="link link--inverted" href="#">Lorem Ipsum</a>
				для распечатки образцов.
				<a class="link link--accent-inverted" href="#">Lorem Ipsum</a>
				не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
			</p>

			<p class="base-text base-text--small">
				Его популяризации в
				<span class="accent-text-color">новое время</span>
				послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
			</p>

			<!-------><br/><br/><br/><br/>

			<h2 class="h1 spacer-bottom-l">Caption</h2>

			<p class="caption spacer-bottom-s">Base caption</p>

			<!-------><br/><br/><br/><br/>

			<h2 class="h1 spacer-bottom-l">Button</h2>

			<div style="display: flex; gap: 2rem; flex-wrap: wrap;">
				<button class="button" type="button">
					<span class="button__front">Type button</span>
					<span class="button__hover">Type button</span>
				</button>

				<a class="button" href="#">
					<span class="button__front">Link</span>
					<span class="button__hover">Link</span>
				</a>

				<button class="button button--secondary" type="button">
					<span class="button__front">Type button</span>
					<span class="button__hover">Type button</span>
				</button>

				<a class="button button--secondary" href="#">
					<span class="button__front">Link</span>
					<span class="button__hover">Link</span>
				</a>
			</div>

			<!-------><br/><br/><br/><br/>

			<h2 class="h1 spacer-bottom-l">Form</h2>

			<div class="form-group spacer-bottom-l">
				<label class="form-group__label form-label">
					Label
				</label>
				<input type="text" class="form-field" placeholder="Field" />
			</div>

			<div class="form-group spacer-bottom-l">
				<label class="form-group__label form-label">
					Label
				</label>
				<select class="select">
					<option selected disabled>Выберите из списка</option>
					<option>Номер раз</option>
					<option>Номер два</option>
					<option>Номер три</option>
				</select>
			</div>

			<div class="checkbox">
				<input type="checkbox" class="checkbox__input" id="checkbox" />
				<label class="checkbox__label" for="checkbox">
					Checkbox
				</label>
			</div>

		</div>
	</div><!--.page-->

	{{> layouts/foot }}
</body>
</html>
