<div class="project-slider">
  <div class="project-slider__wrapper swiper-wrapper">
    {{#each list }}
      <div class="project-slider__slide swiper-slide">
        <article class="project-card">
          <img
            class="project-card__img lazyload"
            data-sizes="auto"
            data-srcset="
              ./asset/img/projects/{{ slug }}.jpg 1100w,
              ./asset/img/projects/{{ slug }}@2x.jpg 2200w"
            alt="{{ title }}"
          />
          <div class="project-card__content">
            <div class="project-card__title">
              {{ title }}
            </div>
            <div class="project-card__more">
              <a href="#">Подробнее</a>
            </div>
          </div>
        </article><!--.project-card-->
      </div><!--.project-slider__slide-->
    {{/each}}
  </div><!--.project-slider__wrapper-->
</div><!--.project-slider-->
