<div class="promo-slider">
  <div class="promo-slider__in">
    <div class="promo-slider__wrapper swiper-wrapper">
      {{#each list }}
        <div class="promo-slider__slide swiper-slide">

          <div class="promo-slider__content">
            <h1 class="h1 spacer-bottom-s">
              {{{ title }}}
            </h1>
            <p class="base-text base-text--large spacer-bottom-s">
              {{{ text }}}
            </p>
            <p class="base-text">
              <a class="link" href="#">Подробнее</a>
            </p>
          </div><!--.promo-section__content-->

          <img
            class="promo-slider__man lazyload"
            data-sizes="auto"
            data-srcset="
              ./asset/img/promo-man.png 583w,
              ./asset/img/promo-man@2x.png 1165w"
            alt=""
          />

        </div><!--.promo-slider__slide-->
      {{/each}}
    </div><!--.promo-slider__wrapper-->
  </div><!--.promo-slider__in-->

  <div class="promo-slider__pagination rating"></div>
</div><!--.promo-slider-->
