<section class="contacts-section">
  <div class="container-with-side">
    <h1 class="h1 spacer-bottom-3xl">Контакты</h1>

    <div class="contacts-section__contacts">
      <div class="contacts-section__contacts-col">
        <p class="form-label spacer-bottom-s">
          Тел/факс:
        </p>
        <p class="contacts-section__phone">
          <a href="tel:+868765432000">
            +86 (876) 5432 000
          </a>
        </p>
      </div>

      <div class="contacts-section__contacts-col">
        <p class="form-label spacer-bottom-s">
          E-mail:
        </p>
        <p class="contacts-section__email">
          <a class="link" href="mailto:info@wtmi.tech">
            info@wtmi.tech
          </a>
        </p>
      </div>

      <div class="contacts-section__contacts-col">
        <p class="form-label spacer-bottom-s">
          Адрес:
        </p>
        <p class="base-text">
          117218, г.&nbsp;Москва, ул.&nbsp;Кржижановского, д.&nbsp;23А
        </p>
      </div>
    </div><!--.contacts-section__contacts-->

    <div class="contacts-section__bottom-cols">
      <div class="contacts-section__team">
        <h2 class="h2 spacer-bottom-2xl">Руководство</h2>

        <div class="team-item">
          <div class="team-item__label">
            Директор
          </div>
          <div class="team-item__contacts">
            Иванов Иван Иванович<br/>
            <a class="link link--primary link--no-underlined" href="tel:+79994567000">
              +7 999 4567000
            </a><br/>
            <a class="link" href="mailto:example@mail.com">
              example@mail.com
            </a>
          </div>
        </div><!--.team-item-->

        <div class="team-item">
          <div class="team-item__label">
            Руководитель отдела продаж
          </div>
          <div class="team-item__contacts">
            Иванов Иван Иванович<br/>
            <a class="link link--primary link--no-underlined" href="tel:+79994567000">
              +7 999 4567000
            </a><br/>
            <a class="link" href="mailto:example@mail.com">
              example@mail.com
            </a>
          </div>
        </div><!--.team-item-->

        <div class="team-item">
          <div class="team-item__label">
            Ведущий инженер-конструктор
          </div>
          <div class="team-item__contacts">
            Иванов Иван Иванович<br/>
            <a class="link link--primary link--no-underlined" href="tel:+79994567000">
              +7 999 4567000
            </a><br/>
            <a class="link" href="mailto:example@mail.com">
              example@mail.com
            </a>
          </div>
        </div><!--.team-item-->
      </div><!--.contacts-section__team-->

      <form class="contacts-section__order">
        <h2 class="h2 spacer-bottom-2xl">Быстрая заявка</h2>

        <div class="form-group spacer-bottom-l">
          <label class="form-group__label form-label">
            Как вас зовут
          </label>
          <input type="text" class="form-field" />
        </div>

        <div class="form-group spacer-bottom-l">
          <label class="form-group__label form-label">
            Телефон или электронная почта
          </label>
          <input type="text" class="form-field" />
        </div>

        <div class="form-group spacer-bottom-l">
          <label class="form-group__label form-label">
            Название компании
          </label>
          <input type="text" class="form-field" />
        </div>

        <div class="form-group spacer-bottom-l">
          <label class="form-group__label form-label">
            Интересующее оборудование или услуги
          </label>
          <textarea class="form-field" rows="8"></textarea>
        </div>

        <button class="button button--block" type="submit">
					<span class="button__front">Отправить</span>
					<span class="button__hover">Отправить</span>
				</button>
      </form><!--.contacts-section__order-->
    </div><!--.contacts-section__bottom-cols-->
  </div><!--.container-with-side-->
</section><!--.contacts-section-->
