<div class="about-section">
  <section class="about-section__text about-text-block">
    <h2 class="h2 spacer-bottom-s">
      Wenzhou TMI &mdash;
    </h2>
    <p class="base-text">
      международная компания, осуществляющая инспекционную и&nbsp;экспертную деятельность для организаций нефтегазовой, энергетической, электротехнической, машиностроительной, строительной отраслей.
    </p>
  </section><!--.about-text-block-->

  <section class="about-section__certificates certificates-block">
    <h2 class="caption caption--secondary spacer-bottom-m">
      Сертификаты<br/>
      международного образца:
    </h2>

    <ul class="certificates-block__list" data-gallery>
      <li
        class="certificates-block__item"
        data-src="./asset/img/certificates/1.png"
      >
        <img
          class="certificates-block__img lazyload"
          data-src="./asset/img/certificates/1.png"
          alt=""
        />
      </li>
      <li
        class="certificates-block__item"
        data-src="./asset/img/certificates/1.png"
      >
        <img
          class="certificates-block__img lazyload"
          data-src="./asset/img/certificates/1.png"
          alt=""
        />
      </li>
    </ul>
  </section><!--.certificates-block-->
</div><!--.promo-section-->
