<section class="partners-section">
  <div class="container-with-side">
    <h2 class="partners-section__title">Заказчики</h2>

    {{> pages/main/components/partners-slider partners_slider }}
  </div><!--.container-with-side-->
</section><!--.partners-section-->
