<section class="promo-section">
  <div class="container-with-side">
    <div class="promo-section__content">
      <h1 class="h1 spacer-bottom-s">
        Инспекция продукции на&nbsp;производстве
      </h1>
      <p class="base-text base-text--large spacer-bottom-s">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p class="base-text">
        <a class="link" href="#">Подробнее</a>
      </p>
      <div class="rating spacer-top-3xl">
        <div class="rating__item rating__item--active"></div>
        <div class="rating__item rating__item--active"></div>
        <div class="rating__item"></div>
        <div class="rating__item"></div>
        <div class="rating__item"></div>
        <div class="rating__item"></div>
      </div>
    </div><!--.promo-section__content-->
  </div><!--.container-with-side-->

  <img
    class="promo-section__man lazyload"
    data-sizes="auto"
    data-srcset="
      ./asset/img/promo-man.png 583w,
      ./asset/img/promo-man@2x.png 1165w"
    alt=""
  />
</section><!--.promo-section-->
