<section class="section">
  <div class="container-with-side">
      <a class="back-link" href="./">
        &lt; Назад
      </a>

      <ul class="pumps-list spacer-top-2xl">
        {{#each list }}
          <li class="pumps-list__item">
            <a class="pump-item" href="./product-{{ url }}.html">
              <img
                class="pump-item__pic lazyload"
                data-src="./asset/img/products/pumping-stations/{{ url }}.png"
                alt="{{{ title }}}"
              />
              <span class="pump-item__title">{{{ title }}}</span>
            </a>
          </li>
        {{/each}}
      </ul>

  </div><!--.container-with-side-->
</section><!--.section-->
