<section class="about-files-section">
  <div class="container-with-side">
    <ul class="presentations">
      <li class="presentations__item">
        <div class="download-file download-file--pdf">
          <div class="download-file__link">
            <div class="caption">
              <b>Общая презентация НГТ</b>
            </div>
            <div class="base-text spacer-top-xs">
              <a class="link" href="#">Скачать</a>
            </div>
          </div>
        </div>
      </li>

      <li class="presentations__item">
        <div class="download-file download-file--pdf">
          <div class="download-file__link">
            <div class="caption">
              <b>презентация систем НГТ</b>
            </div>
            <div class="base-text spacer-top-xs">
              <a class="link" href="#">Скачать</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div><!--.container-with-side-->
</section><!--.about-files-section-->
