<section class="about-main-section">
  <div class="container-with-side">
    <div class="about-main-section__content">
      <a class="back-link" href="./">
        &lt; Назад
      </a>

      <h1 class="about-main-section__title">
        О компании
      </h1>

      <div class="base-text">
        <p>
          Компания начала свою деятельность в 1999 году и на сегодняшний день является современной многопрофильной инжиниринговой компанией, участвующей в проектах строительства и реконструкции различных объектов нефтегазового комплекса с этапа технико-экономического обоснования до стадии запуска в эксплуатацию.
        </p>
        <p>
          Возможности и компетенции нашей компании позволяют реализовывать комплексные решения по разработке и производству установок подготовки, переработки, учета и транспортировки нефти, газа, воды и прочих технологических установок различного назначения.
        </p>
        <p>
          Многолетний и многопрофильный опыт нашей команды, традиционно основательный подход к вопросам качества, партнерство с ведущими отечественными и зарубежными производителями оборудования, сотрудничество с проектными организациями, четкая ориентация на потребности рынка позволяют нам предлагать наиболее эффективные и передовые решения любых масштабов.
        </p>
        <p>
          Производственные площадки компании расположены в&nbsp;г.&nbsp;Уфа - 5&nbsp;000&nbsp;кв.м. и в&nbsp;г.&nbsp;Октябрьский 8&nbsp;000&nbsp;кв.м.
        </p>
      </div>
    </div><!--.about-main-section__content-->
  </div><!--.container-with-side-->

  {{> components/map-bg class='about-main-section__bg' }}
</section><!--.about-main-section-->
