<section class="about-text-section">
  <div class="container-with-side">
    <div class="base-text">
      Интегрированная система менеджмента качества ГОСТ Р ИСО 9001-2015 (ISO 9001:2015), ГОСТ Р ИСО 14001-2016 (ISO 14001:2015), ГОСТ Р ИСО 45001-2020 (ISO 45001:2018) и СТО Газпром 9001-2018 ИНТЕРГАЗСЕРТ, собственная аккредитованная и аттестованная лаборатория контроля качества, контроль всех стадий производственных процессов от закупки материалов и комплектующих до постоянной проверки качества производства, обработки и сборки оборудования, а также использование инновационных решений и высококачественного производственного оборудования позволяют нам гарантировать высокий уровень качества, соответствующий требованиям российских и международных стандартов и соблюдать необходимые сроки изготовления и поставок.
    </div>
  </div><!--.container-with-side-->
</section><!--.about-text-section-->
