<div class="{{ class }} map-bg">
  <img
    class="map-bg__map lazyload"
    data-sizes="auto"
    data-srcset="
      ./asset/img/section-bg.png?v01 1239w,
      ./asset/img/section-bg@2x.png?v01 2478w"
    alt=""
  />
  <div class="map-bg__pump map-bg__pump--item-1"></div>
  <div class="map-bg__pump map-bg__pump--item-2"></div>
  <div class="map-bg__pump map-bg__pump--item-3"></div>
</div>
