<div class="article-intro">
  <div class="container-with-side">
    <p class="base-text">
      Контроль качества (инспекция продукции) на производственных площадках проводится с целью предотвращения поставки заказчику несоответствующей продукции.
    </p>
  </div><!--.container-with-side-->
</div><!--.article-intro-->

<div class="article-content">
  <div class="container-with-side">
    <div class="base-text">
      <p>
        Специалисты ВТ GROUP контролируют соответствие выпускаемой продукции требованиям нормативной и технической документации, требованиям заказа на основании перечней технологических операций и объемов контроля на предприятии-изготовителе.
      </p>
      <h2>
        Типовой перечень контрольных операций:
      </h2>
      <ul>
        <li>
          Входной контроль материалов и компонентов
        </li>
        <li>
          Инспекция производственного оборудования
        </li>
        <li>
          Инспекция производственного процесса
        </li>
        <li>
          Последовательный пооперационный контроль продукции во время производства
        </li>
        <li>
          Выполнение или контроль проведения испытаний
        </li>
        <li>
          Окончательная приемка продукции
        </li>
        <li>
          Инспекция при отгрузке
        </li>
        <li>
          Контроль подготовки сопроводительной документации
        </li>
      </ul>
      <h2>
        Инспекционное сопровождение на этапе начала производства продукции
      </h2>
      <ul>
        <li>
          Анализ технологических решений производителя и документации в области обеспечения качества
        </li>
        <li>
          Участие в приемо-сдаточных испытаниях
        </li>
        <li>
          Оценка готовности производителя к началу инспекции и выпуску продукции требуемого уровня качества
        </li>
      </ul>
    </div><!--.base-text-->
  </div><!--.container-with-side-->
</div><!--.article-content-->
