<header class="article-header">
  <div
    class="article-header__bg lazyload"
    data-bgset="https://placehold.co/1560x720/333/666"
  ></div>
  <div class="container-with-side">
    <h1 class="h1">
      Инспекция<br/>
      продукции на<br/>
      производстве
    </h1>
  </div><!--.container-with-side-->
</header><!--.article-header-->
