{{#if this.downloads }}

<section class="product-download-section">
  <div class="container-with-side">
    {{#each this.downloads }}
      <div class="download-file download-file--{{ this.type }}">
        <a
          href="{{ this.url }}"
          class="download-file__link button"
          download="download"
          target="_blank"
        >
          <span class="button__front">{{{ this.title }}}</span>
          <span class="button__hover">{{{ this.title }}}</span>
        </a>
      </div>
    {{/each }}
  </div><!--.container-with-side-->
</section><!--.product-download-section-->

{{/if}}
