<section class="product-main-section">
  <div class="product-main-section__preview">
    <div class="product-main-section__preview-wrapper">
      <img
        class="product-main-section__preview-img lazyload"
        data-size="auto"
        data-srcset="
          ./asset/img/products/01.png 918w,
          ./asset/img/products/01@2x.png 1836w"
        alt=""
      />
    </div>
  </div><!--.product-main-section__preview-->

  <div class="product-main-section__content">
    <div class="product-main-section__top">
      <a class="back-link" href="./catalog.html">
        &lt; Назад
      </a>

      <h1 class="product-main-section__title">
        Насосные станции перекачки воды
      </h1>

      <div class="base-text">
        <p>
          Насосные станции перекачивания воды (НСПВ) предназначены для перекачки воды в системах промыслового сбора и на технологических установках различного назначения. НСПВ могут быть использованы в качестве насосной внутренней перекачки, подпорной насосной для направления подготовленной воды на БКНС, а также насосной подачи воды для различных технологических процессов.
        </p>
        <p>
          НСПВ представляют собой один или несколько блок-модулей полной заводской готовности и включают в себя смонтированное и подключенное насосное оборудование, запорную арматуру, технологические трубопроводы, систему автоматизированного управления и прочее вспомогательное оборудование. На место эксплуатации станции поставляются готовыми для подключения к технологическим линиям и инженерным сетям, что значительно сокращает сроки введения оборудования в эксплуатацию.
        </p>
        <p>
          Количество блок-модулей зависит от производительности НСПВ, количества насосов и состава технологического оборудования.
        </p>
      </div><!--.base-text-->
    </div><!--.product-main-section__top-->

    <div class="product-main-section__bottom">
      <div class="product-main-section__content-wrapper">
        <h2 class="h3 spacer-bottom-xl">
          Основное оборудование станции
        </h2>

        <div class="base-text">
          <ul>
            <li>
              Машинный зал - насосные агрегаты, трубопроводная обвязка с фильтрами и запорной арматурой
            </li>
            <li>
              Блок автоматизированного управления
            </li>
            <li>
              Энергозал - блоки трансформаторов, распределительных устройства, плавного пуска и пр.
            </li>
            <li>
              Вспомогательное емкостное оборудование
            </li>
            <li>
              Площадки обслуживания
            </li>
            <li>
              Межблочное коммуникационное оборудование
            </li>
            <li>
              Системы безопасности и жизнеобеспечения
            </li>
          </ul>
        </div>
      </div><!--.product-main-section__content-wrapper-->
    </div><!--.product-main-section__bottom-->
  </div><!--.product-main-section__content-->
</section><!--.product-main-section-->

<section class="product-descript-section">
  <div class="container-with-side">
    <div class="product-descript-section__text">
      <p>
        Насосная станция перекачки воды представляет собой здание блочно-модульного типа состоящее из модулей. Размеры здания определяются в зависимости от габаритов насосных агрегатов и их количества.
      </p>
      <p>
        Блоки-укрытия оснащаются электрической или водяной системой отопления, системами освещения, вентиляции, контроля загазованности и датчиками пожарной сигнализации и грузоподъемными механизмами. Для удобства обслуживания насосных агрегатов предусмотрены площадки обслуживания.
      </p>
      <p>
        Металлоконструкции изготавливаются в соответствии со всеми требованиями. Несущие конструкции и трубопроводы подвергаются антикоррозионной обработке.
      </p>
      <p>
        Уровень автоматизации станции позволяет осуществлять эксплуатацию без постоянного присутствия обслуживающего персонала непосредственно у аппаратов и агрегатов.
      </p>
      <p>
        Предусмотрена автоматическая противоаварийная защита и блокировки технологического оборудования при возникновения аварийных ситуаций, аварийная и технологическая сигнализация, передается системой управления в операторную.
      </p>
    </div><!--.product-descript-section__text-->

    <div class="product-descript-section__chars">
      <div class="product-descript-section__table responsive-table">
        <table class="table">
          <tr>
            <th>Технические параметры</th>
            <th>Значение</th>
          </tr>
          <tr>
            <td>Рабочая среда</td>
            <td>Пластовая, подтоварная, пресная вода</td>
          </tr>
          <tr>
            <td>Производительность одного насоса</td>
            <td>до 7200 м3/ч</td>
          </tr>
          <tr>
            <td>Напор</td>
            <td>до 400 м</td>
          </tr>
          <tr>
            <td>Срок службы оборудования</td>
            <td>не менее 20 лет</td>
          </tr>
        </table>
      </div><!--.product-descript-section__table-->

      <div class="product-descript-section__square square">
        <div class="square__content">
          <div class="square__label">
            занимаемая<br/>
            площадь
          </div>
          <div class="square__value">
            <span class="square__num">18-36</span>
            <span class="square__units">м<sup>2</sup></span>
          </div>
        </div>
      </div><!--.square-->
    </div><!--.product-descript-section__chars-->
  </div><!--.container-with-side-->
</section><!--.product-descript-section-->

<section class="product-benefits-section">
  <div class="container-with-side">
    <h2 class="product-benefits-section__title">
      Преимущества:
    </h2>

    <ul class="product-benefits-section__list">
      <li>
        поставляемые блоки комплектуются системами автоматизированного управления оборудованием и процессами, позволяющими эксплуатировать станции без&nbsp;постоянного присутствия обслуживающего персонала;
      </li>
      <li>
        возможность полной автоматизации станции за счёт применения приводной запорной арматуры;
      </li>
      <li>
        высокая эргономичность блоков;
      </li>
      <li>
        удобство проведения сервисных работ;
      </li>
      <li>
        отсутствие возможности несанкционированного доступа к оборудованию;
      </li>
      <li>
        возможность комплексной поставки станции совместно с емкостями, операторными, пожарными и другими вспомогательными блоками;
      </li>
      <li>
        удобство логистики оборудования;
      </li>
      <li>
        снижение затрат на строительно-монтажные работы.
      </li>
    </ul>
  </div><!--.container-with-side-->
</section><!--.product-benefits-section-->

<section class="product-download-section">
  <div class="container-with-side">
    <div class="download-file download-file--doc">
      <button class="download-file__link button" type="button">
        <span class="button__front">Скачать опросный лист</span>
        <span class="button__hover">Скачать опросный лист</span>
      </button>
    </div>
  </div><!--.container-with-side-->
</section><!--.product-download-section-->
