<footer class="site-footer {{ class }}">
    <div class="container-with-side">
        <div class="site-footer__header">
            <div class="site-footer__header-col">
                <img
                    class="site-footer__logo lazyload"
                    data-sizes="auto"
                    data-srcset="
                        ./asset/img/logo-inverse.png 130w,
                        ./asset/img/logo-inverse@2x.png 262w"
                    alt="WTMI"
                />
            </div>
            <div class="site-footer__header-col">
                <a class="site-footer__phone" href="tel:+868765432000">
                    +86 (876) 5432 000
                </a>
            </div>
            <div class="site-footer__header-col">
                <a class="site-footer__email" href="mailto:info@wtmi.tech">
                    info@wtmi.tech
                </a>
            </div>
        </div><!--.site-footer__header-->

        <div class="site-footer__nav">
            <ul class="site-footer__menu">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Виды деятельности</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Карьера и вакансии</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <ul class="site-footer__menu hidden-to-desktop">
                <li><a href="#">Инспекция продукции на производстве</a></li>
                <li><a href="#">Экспедайтинг</a></li>
                <li><a href="#">Сюрвейрский контроль</a></li>
                <li><a href="#">Освидетельствование продукции</a></li>
                <li><a href="#">Входной контроль</a></li>
                <li><a href="#">Лаборатория неразрушающего контроля</a></li>
            </ul>
        </div><!--.site-footer__nav-->

        <div class="site-footer__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus eleifend est eu mollis. Vestibulum nulla libero, fermentum nec ultrices ornare, malesuada tristique urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu vehicula eros. Suspendisse sagittis elementum blandit.
        </div>
    </div><!--.container-with-side-->
</footer><!--.site-footer-->
